.header {
    margin-bottom: 24px;
    background-color: $header-bg-color;
    &__container {
        display: flex;
        align-items: center;
        padding: 10px 130px 10px 130px;
        @include mobile {
            padding: 10px 0px 10px 0px;
        }
    }
}

.person {
    display: flex;
    align-items: center;
    &__pic {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
    }
    &__full-name {
        color: $footer-bg-color;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }
}

.contacts {
    position: relative;
    text-decoration: none;
    display: block;
    color: $active-color;
    font-family: "Fira_Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-left: auto; // border-bottom: 1px dotted $active-color;
    background-image: linear-gradient(to right, $active-color 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    transition: all .3s;
    &:hover {
        color: $contact-hover-color;
        border-color: $contact-hover-color;
    }
    &:hover &__popup {
        display: block;
    }
    &:after {
        content: '';
        width: 100%;
        height: 20px;
        position: absolute;
        top: 20px;
        left: 0;
    }
    &__popup {
        display: none;
        border-radius: 10px;
        background-color: $white;
        border: solid 1px #dedede;
        position: absolute;
        top: 134%;
        left: -26%;
        padding: 20px 20px 13px 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.56;
        color: $greyish-brown;
        &:after {
            content: '';
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 12px solid #fff;
        }
        &:before {
            content: '';
            position: absolute;
            top: -12px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 12px solid #dedede;
        }
    }
    &__email {
        display: block;
        text-decoration: none;
        color: $greyish-brown;
        white-space: nowrap;
    }
    &__phone {
        display: block;
        text-decoration: none;
        color: $greyish-brown;
        white-space: nowrap;
    }
    &__messager {
        display: block;
        text-decoration: none;
        color: $greyish-brown;
        white-space: nowrap;
    }
    &__icon {
        color: #33bfe2;
        margin-right: 5px;
    }
    @include tablet {
        display: none;
    }
}

.phone {
    display: inline-block;
    text-decoration: none;
    margin-left: auto;
    &__icon {
        display: none;
        font-size: 32px;
        @include tablet {
            display: inline;
            color: $active-color;
        }
    }
}