.ie-message {
    color: $dark-sky-blue;
}

.page-content {
    flex: 1 0 auto;
}

.container--main-page {
    padding: 0px 130px 0px 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include laptop {
        justify-content: flex-start;
    }
    @include mobile {
        padding: 10px 0px 10px 0px;
    }
}

.main--main {
    display: flex;
    flex: 1 0 600px; // margin-left: 40px;
    justify-content: flex-end;
}

.aside-block {
    flex: 0 0 240px;
    @include laptop {
        width: 100%;
        flex-basis: auto;
    }
}

.nav {
    &__list {
        @include laptop {
            display: flex;
        }
    }
    &__item {
        position: relative;
        margin-bottom: 26px;
        padding-right: 22px;
        &:hover .nav__link {
            color: $active-color;
        }
    }
    &__link {
        display: block;
        text-align: right;
        text-decoration: none;
        color: $footer-socials-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        @include mobile {
            font-size: 14px;
        }
    }
    &__icon {
        margin-right: 10px;
        @include mobile {
            display: none;
        }
    }
    &__item--active {
        &:after {
            position: absolute;
            right: 0;
            top: -8px;
            display: block;
            content: '';
            width: 5px;
            height: 47px;
            background-image: linear-gradient(to top, #33b7dc 0%, #32c9e9 100%);
            @include laptop {
                display: none;
            }
        }
        .nav__link {
            color: $active-color;
        }
    }
}

.avatar-block {
    flex: 0 0 220px;
    overflow: hidden;
    &__pic {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        width: 220px;
        height: 220px;
        &:after {
            content: '';
            border-radius: 50%;
            width: 210px;
            height: 210px;
            border: 1px solid #7da4a4;
            position: absolute;
            top: 5px;
            left: 5px;
            @include laptop {
                display: none;
            }
        }
        @include laptop {
            width: 176px;
            height: 176px;
            margin: 0 auto;
        }
    }
    &__img {
        max-height: 100%;
        max-width: 100%;
    }
    @include laptop {
        flex: 0 0 34%;
    }
    @include tablet {
        flex: 0 0 100%;
    }
}

.about-block {
    flex: 0 0 380px;
    display: flex;
    flex-flow: column;
    margin-left: 40px;
    &__title {
        color: $bold-text-color;
        font-size: 35px;
        font-weight: 500;
        line-height: 45px;
        margin-bottom: 30px;
        @include tablet {
            text-align: center;
        }
    }
    &__text {
        color: $main-text-color;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 55px;
        overflow: visible;
        overflow-y: auto;
        max-height: 346px;
        p {}
        &::-webkit-scrollbar {
            height: 10px;
            width: 12px;
            background-color: $scroll-color;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: $scroll-color;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: $main-bg-color;
            ;
        }
        @include tablet {
            margin-bottom: 20px;
        }
        @include mobile {
            height: auto;
        }
    }
    @include laptop {
        padding-right: 43px;
        flex: 0 0 66%;
    }
    @include tablet {
        flex: 0 0 100%;
        padding-right: 0;
    }
}

.resume-button {
    padding: 6px 0px 6px 15px;
    border-radius: 28px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    display: block;
    width: 176px;
    color: $button-color;
    border: 2px solid $button-color;
    align-self: flex-end;
    transition: all 0.5s;
    &:hover {
        color: #fff;
        background-color: $button-color;
    }
    &__icon {
        margin-right: 10px;
    }
    @include tablet {
        margin: 0 auto;
    }
}