$main-text-color: #646464;
$footer-bg-color: #414141;
$active-color: #33c1e3;
$button-color: #e85f61;
$contact-hover-color: #e85f61;
$main-bg-color: #f6f6f6;
$scroll-color: #d8d8d8;
$footer-text-color: #9c9c9c;
$bold-text-color: #414141;
$header-bg-color: #ffffff;
$footer-socials-color: #414141;
// //////////////////////////////
$brownish-grey: #646464;
$white-two: #f6f6f6;
$dark-sky-blue: #33c1e3;
$greyish-brown: #414141;
$white: #ffffff;